{% extends "admin_login/layout.html" %}

{% block title %}
Fruit Cast | Forecast
{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-sm rounded-4 p-4 mb-4">
                <h2>Commodities</h2>
                <a href="{% url 'administrator:admin_commodity_add' %}" class="btn btn-success mb-3">Add New Commodity</a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            {% comment %} <th>Unit</th> {% endcomment %}
                            <th>Average Weight (kg)</th>
                            <th>Years to Mature</th>
                            <th>Years to Bear Fruit after first harvest</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% if commodities %}
                    <tbody>
                        {% for commodity in commodities %}
                        <tr>
                            <td>{{ commodity.name }}</td>
                            {% comment %} <td>{{ commodity.unit_name }}</td> {% endcomment %}
                            <td>{{ commodity.average_weight_per_unit_kg }}</td>
                            <td>{{ commodity.years_to_mature }}</td>
                            <td>{{ commodity.years_to_bearfruit }}</td>
                            <td>
                                <a href="{% url 'administrator:admin_commodity_edit' commodity.pk %}" class="btn btn-sm btn-outline-primary">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center">No commodities found.</td>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
                <p class="form-text">Note : If only in months, calculate with : [no. of months / 12]</p>

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert 
                        {% if message.tags %} alert-{{ message.tags }} {% endif %} text-danger small mt-2">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

    </div>
  </div>
</div>
{% endblock content %}
