{%load static%}

{% block navbar %}

{% comment %} NAVBAR SECTION {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container-fluid">
        <!-- Offcanvas Toggle Button (always visible) -->
        <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasguest" aria-controls="offcanvasguest">
            <i class="bi bi-list" style="font-size: 1.5rem;"></i>
        </button>
        <a class="navbar-brand d-flex align-items-center" href="{% url 'administrator:admin_dashboard' %}">
            <img src="{% static 'images/logo/3.png' %}" alt="Fruit Cast Logo" style="max-height: 40px;" class="me-2">
            <span class="fw-bold text-success">Fruit Cast</span>
        </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <p style="margin-top: 2vmin"> | Welcome 
        {% if user_firstname %}
          {{ user_firstname }}
        {% else %}
          {% if user_role_id == 1 %}
            Farmer
          {% elif user_role_id == 2 %}
            Administrator
          {% elif user_role_id == 3 %}
            Agriculturist
          {% else %}
            User
          {% endif %}
        {% endif %}

      <ul class="navbar-nav ms-auto"> 
        <li class="nav-item"><a class="nav-link" href="{% url 'administrator:admin_dashboard' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'base:home' %}">To Public Site</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'administrator:admin_forecast' %}">Generate Forecast</a></li>
        {% if user.is_superuser and user_role_id == 2 %}
          <li class="nav-item"><a class="nav-link" href="{% url 'administrator:assign_account' %}">Manage Privilege</a></li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i> Account
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'base:account_info_panel' %}">Account Page</a>
            </li>
            <li>
              <form action="{% url 'base:logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Logout</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% comment %} OFFCANVAS SECTION {% endcomment %}


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasguest" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Fruit Cast | {{user_firstname}}</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-header">      
        <img src="{% static 'images/logo/3.png' %}" alt="Fruit Cast Logo" class="mx-auto"style="max-height: 20vh; align-content : center;">

    </div>
    <div class="offcanvas-body d-flex flex-column h-100">  
        <div class="list-group">
          <a href="{% url 'administrator:dashboard' %}?view=choose" class="list-group-item list-group-item-action">Home</a>        
        </div>
        <br>
        <br>
        <div class="list-group">
          {% if user_role_id == 2 or user_role_id == 3 %}  

            <a href="#" class="list-group-item list-group-item-action">Verify Plant and Harvest Records</a>
            <a href="{% url 'administrator:verify_accounts' %}" class="list-group-item list-group-item-action">Farmer Accounts</a>
          
          {% endif %}
          {% if user_role_id == 2 %}  
            
            <a href="{% url 'administrator:admin_commodity_list' %}" class="list-group-item list-group-item-action">View Commodity Types</a>
            <a href="{% url 'administrator:show_allaccounts' %}" class="list-group-item list-group-item-action">Administrators and Agriculturists</a>
            <a href="{% url 'administrator:admin_forecast' %}" class="list-group-item list-group-item-action">Generate Forecast</a>
          {% endif%}
          {% if user.is_superuser and user_role_id == 2 %}
            {% comment %} {% if authuser.issuperuser = True%} it should show the button or link Manage Privilege {% endcomment %}
            <a href="{% url 'administrator:assign_account' %}" class="list-group-item list-group-item-action">Manage Privilege</a>
          {% endif%}



            
        </div>
        <br>
        <div class="flex-grow-1"></div>
        <hr>
        <br>
    </div>
  </div>

  {% endblock navbar %}
