{%load static%}

{% block navbar %}

{% comment %} NAVBAR SECTION {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="btn btn-tarnsparent ms-5" data-bs-toggle="offcanvas" href="#offcanvasguest" role="button" aria-controls="offcanvasExample">
        =
      </a>
    {% if user.is_authenticated and user_role_id == 2 or user.is_authenticated and user_role_id == 3 %}
    
    <img src="{% static 'images/logo/3.png' %}" alt="Fruit Cast Logo" style="max-height: 50px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <p style="margin-top: 2vmin"> | Welcome 
        {% if user_firstname %}
          {{ user_firstname }}
        {% else %}
          {% if user_role_id == 1 %}
            Farmer
          {% elif user_role_id == 2 %}
            Administrator
          {% elif user_role_id == 3 %}
            Agriculturist
          {% else %}
            User
          {% endif %}
        {% endif %}

      <ul class="navbar-nav ms-auto me-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administrator:admin_dashboard' %}"><b>Home</b> <span class="sr-only"></span></a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'administrator:verify_accounts' %}"><b>Farmer Accounts</b><span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          {% comment %} <a class="nav-link" href="{% url 'administrator:show_allaccounts' %}"><b>See All Accounts</b><span class="sr-only"></span></a> {% endcomment %}
        </li>
        <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'dashboard:monitor' %}"><b>Verify Harvests</b><span class="sr-only"></span></a> {% endcomment %}
          </li>          
        </li>
      </ul>

      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item">
          {% comment %} <a class="nav-link" href="{% url 'dashboard:notifications' %}"><b>Notification</b><span class="sr-only"></span></a>         {% endcomment %}
        </li>
        <li class="nav-item">
          {% comment %} <a class="nav-link" href="{% url 'base:accinfo' %}"><b>Account</b><span class="sr-only"></span></a>         {% endcomment %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'administrator:accinfo' %}"><b>Account</b><span class="sr-only"></span></a>        
        </li>
        <li class="nav-item">

            {% comment %} <a class="nav-link" href="{% url 'base:logout' %}"><b>Logout</b></a> {% endcomment %}
            <form action="{% url 'base:logout' %}" method="post" class="nav-btn mb-0">
                      {% csrf_token %}
                      <button type="submit" class="btn">Logout</button>
                    </form>
        </li>
      </ul>
    </div>
    {% else %}
        <img src="{% static 'images/logo/3.png' %}" alt="Fruit Cast Logo" style="max-height: 50px;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <p class="text-danger ms-3 my-2">You do not have permission to view this page.</p>
            <ul class="navbar-nav ms-auto me-5">
                <li class="nav-item">
                    <form action="{% url 'base:login' %}" method="post" class="nav-btn mb-0">
                      {% csrf_token %}
                      <button type="submit" class="btn">Login</button>
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}
  </nav>

{% comment %} OFFCANVAS SECTION {% endcomment %}


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasguest" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Fruit Cast | {{user_firstname}}</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-header">      
        <img src="{% static 'images/logo/3.png' %}" alt="Fruit Cast Logo" class="mx-auto"style="max-height: 20vh; align-content : center;">

    </div>
    <div class="offcanvas-body d-flex flex-column h-100">  
        <div class="list-group">
          <a href="{% url 'administrator:dashboard' %}?view=choose" class="list-group-item list-group-item-action">Home</a>        
        </div>
        <br>
        <br>
        <div class="list-group">
          {% if user_role_id == 2 or user_role_id == 3 %}  

            <a href="#" class="list-group-item list-group-item-action">Verify Plant and Harvest Records</a>
            <a href="{% url 'administrator:verify_accounts' %}" class="list-group-item list-group-item-action">Farmer Accounts</a>
          
          {% endif %}
          {% if user_role_id == 2 %}  
            
            <a href="{% url 'administrator:show_allaccounts' %}" class="list-group-item list-group-item-action">Administrators and Agriculturists</a>
          {% endif%}
          {% if user.is_superuser and user_role_id == 2 %}
            {% comment %} {% if authuser.issuperuser = True%} it should show the button or link Manage Privilege {% endcomment %}
            <a href="{% url 'administrator:assign_account' %}" class="list-group-item list-group-item-action">Manage Privilege</a>
          {% endif%}



            
        </div>
        <br>
        <div class="flex-grow-1"></div>
        <hr>
        <br>
    </div>
  </div>

  {% endblock navbar %}
