[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "==2.9.10"
gunicorn = "*"
prophet = "==1.1.4"
shapely = "*"
matplotlib = "*"
pandas = "==2.1.4"
numpy = "*"
plotly = "*"
holidays = "*"
cmdstanpy = "*"
pillow = "*"
colorama = "*"
joblib = "*"
google-generativeai = "*"
weasyprint = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
