{% extends "loggedin/layout.html" %}

{% block title %}
Fruit Cast | Choose Transaction
{% endblock title %}


{% block content %}
    <br>
    </br>
    <div class="text-center">
        <h1>Hi, {{user_firstname}}.</h1>
        <h1>Choose a Transaction</h1>
    </div>
    <br>
    </br>
    <div class="text-center">
        <a href="?view=plant" class="btn btn-success text-light link-body-emphasis">                         
            New Plant Record
        </a> 
        <a href="?view=harvest" class="btn btn-success text-light link-body-emphasis"> 
            New Harvest Record
        </a>         
    </div>
    
{% endblock content %}

