{% extends "loggedin/layout.html" %}

{% block title %}
Fruit Cast | Transaction History
{% endblock title %}


{% block content %}
<div class="container">
    <div class="record-cart">
        <h2>Your Transaction History</h2>
        <p class="mb-4">Below is your list of submitted transactions. Click a transaction to view its details.</p>
        {% if transactions %}
            <table class="table table-bordered table-hover">
                <thead class="table-success">
                    <tr>
                        <th>Transaction #</th>
                        <th>Type</th>
                        <th>Date Created</th>
                        <th>Status</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.transaction_id }}</td>
                        <td>{{ transaction.transaction_type|capfirst }}</td>
                        <td>{{ transaction.transaction_date|date:"Y-m-d H:i" }}</td>
                        <td>
                            {% if transaction.transaction_type|lower == "plant" %}
                                {{ transaction.plant_status|capfirst }}
                            {% elif transaction.transaction_type|lower == "harvest" %}
                                {{ transaction.harvest_status|capfirst }}
                            {% else %}
                                {{ transaction.item_status_id.acc_status|capfirst }}
                            {% endif %}
                        </td>
                        <td>{{ transaction.get_location_display }}</td>
                        <td>
                            <a href="{% url 'base:transaction_recordlist' transaction.transaction_id %}" class="btn btn-sm btn-outline-success">
                                View Record
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No transactions found.</p>
        {% endif %}
    </div>
</div>
    
    
{% endblock content %}

