{% block content %}
<div class="container p-4">
    {% comment %} <div class="card shadow-sm rounded-4 p-4"> {% endcomment %}
        <h2>Transaction Details</h2>
        <p>Transaction ID: {{ transaction.transaction_id }}</p>
        <p>Location: {{ transaction.get_location_display }}</p>
        <hr>
        {% if plant_record %}
            <h4>Plant Record</h4>
            <ul>
                <li>Date Planted: {{ plant_record.plant_date|date:"d/m/Y" }}</li>
                <li>Commodity: 
                    {% if plant_record.commodity_id %}
                        {{ plant_record.commodity_id.name }}
                    {% else %}
                        {{ plant_record.commodity_custom }}
                    {% endif %}
                </li>
                <li>Minimum Expected Harvest: {{ plant_record.min_expected_harvest }}</li>
                <li>Maximum Expected Harvest: {{ plant_record.max_expected_harvest }}</li>
                <li>Remarks: {{ plant_record.remarks }}</li>
            </ul>
        {% endif %}
        {% if harvest_record %}
            <h4>Harvest Record</h4>
            <ul>
                <li>Date Harvested: {{ harvest_record.harvest_date|date:"d/m/Y" }}</li>
                <li>Commodity: {{ harvest_record.commodity_id }}</li>
                <li>Custom: {{ harvest_record.commodity_custom }}</li>
                <li>Total Weight: {{ harvest_record.total_weight }} {{ harvest_record.unit.unit_abrv }}</li>
                <li>Average Individual Weight: {{ harvest_record.weight_per_unit }} {{ harvest_record.unit.unit_abrv }}</li>
            </ul>
        {% endif %}
        <div class="mt-4 d-flex">
            {% comment %} {% if not harvest_record %} {% endcomment %}
                <a href="{% url 'base:harvest_record_for_plant' transaction.transaction_id %}" class="btn btn-success me-2">
                    Create the harvest record for this plant record
                </a>
            {% comment %} {% endif %} {% endcomment %}
            <a href="{% url 'base:transaction_history' %}" class="btn btn-secondary">
                Back to Transaction History
            </a>
            <a href="#" class="btn btn-danger ms-auto">
                Delete this Transaction
            </a>
        </div>
    </div>
{% comment %} </div> {% endcomment %}
{% endblock content %}
