{% comment %} {% extends "loggedin/layout.html" %} {% endcomment %}

{% block title %}
{% comment %} Fruit Cast | Harvest Record Transaction {% endcomment %}
{% endblock title %}

{% block content %}
<div class="container">
    <h2>Transaction Details</h2>
    <p>Transaction ID: {{ transaction.transaction_id }}</p>
    
    <p>Location: {{ transaction.get_location_display }}</p>
    <hr>
    {% if plant_record %}
        <h4>Plant Record</h4>
        <!-- Display plant record fields -->
        <ul>
            <li>Date Planted: {{ plant_record.plant_date }}</li>
            <li>Commodity: {{ plant_record.commodity_id }}</li>
            <li>Custom: {{ plant_record.commodity_custom }}</li>
        </ul>
    {% endif %}
    {% if harvest_record %}
        <h4>Harvest Record</h4>
        <!-- Display harvest record fields -->
        <ul>
            <li>Date Harvested: {{ harvest_record.harvest_date }}</li>
            <li>Commodity: {{ harvest_record.commodity_id }}</li>
            {% if harvest_record.commodity_id == 1 %}
            <li>Custom: {{ harvest_record.commodity_custom }}</li>            
            {% else %}
            <li>Custom: {{ harvest_record.commodity_custom }}</li>
            {% endif %}
            <li>Total Weight: {{ harvest_record.total_weight }} {{ harvest_record.unit.unit_abrv }}</li>
            <li>Average Individual Weight: {{ harvest_record.weight_per_unit }} {{ harvest_record.unit.unit_abrv }}</li>
        </ul>
    {% else %}
        {% if plant_record %}
            <a href="{% url 'base:transaction_recordlist' transaction.transaction_id %}" class="btn btn-success">
                Create the harvest record for this plant record
            </a>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}
