{% extends "loggedin/layout.html" %}

{% block title %}
Fruit Cast | Create New Record
{% endblock title %}

{% block navbar %}
    {% include "loggedin/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="transaction-view d-flex flex-column flex-md-row"> {%comment%} other parts ng class is bootstrap to make it responsive(flex-column flex-md-row) {%endcomment%}
    <div class="transaction-side">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 25vmax;"> 
            <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> 
                <a href="?view=choose">               
                    <span class="fs-4 text-success">Transaction</span> 
                </a> 
            </p> 
            <hr> 
            <ul class="nav nav-pills flex-column mb-auto"> 
                <li> 
                    <a href="?view=plant" class="nav-link link-body-emphasis">                         
                        New Plant Record
                    </a> 
                </li> 
                <li> 
                    <a href="?view=harvest" class="nav-link link-body-emphasis"> 
                        New Harvest Record
                    </a> 
                </li> 
                <li> 
                    <a href="?view=transaction_history" class="nav-link link-body-emphasis">                         
                        Your Transaction History
                    </a> 
                </li> 
                <li> 
                    <a href="?view=transaction_list" class="nav-link link-body-emphasis">                         
                        Record List [for dev purposes]
                    </a> 
                </li> 
            </ul> 
            <hr>     
        </div>
    </div>

    <div class="flex-grow-1 p-3 chosen-transaction py-4">

        {% if view_to_show == "harvest" %}
          {% include "loggedin/transaction/harvest_record.html" %}
        {% elif view_to_show == "plant" %}
          {% include "loggedin/transaction/plant_record.html" %}
        {% elif view_to_show == "transaction_list" %}
          {% include "loggedin/transaction/transaction_recordlist.html" %}
        {% elif view_to_show == "transaction_history" %}
          {% include "loggedin/transaction/transaction_history.html" %}
        {% elif view_to_show == "transaction_recordhistory" %}
          {% include "loggedin/transaction/transaction_recordhistory.html" %}
        {% elif view_to_show == "choose" %}
          {% include "loggedin/transaction/transaction_default.html" %}
        {% else %}
          <p>Choose a transaction type in the sidebar</p>
        {% endif %}

    </div>

</div>
    
    
{% endblock content %}

