{% extends "loggedin/layout.html" %}

{% block title %}
Fruit Cast | Account Information
{% endblock title %}

{% block navbar %}
    {% include "loggedin/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container1">
    <div>
        <h1>Account Information</h1>
    </div>
    <hr>
    <div class="list-group">
        <div class="list-group-item">
            <h4>Personal Information</h4>
            <br>
            <p>
                First Name : {{user_firstname}}
            </p>
            <p>
                Middle Name : {{user_middlename}}
            </p>
            <p>
                Last Name : {{user_lastname}}
            </p>
            <p>
                Name Extension : {{user_nameext}}
            </p>
            <p>
                Sex : {{user_sex}}
            </p>
            <p>
                Date of Birth : {{user_dob}}
            </p>        
        </div>
        <div class="list-group-item">
            <h4>Contact Information</h4>
            <br>
            <p>
                Contact Number : {{user_contactno}}
            </p>
            <p>
                Email Address : {{user_email}}
            </p>
        </div>
        <div class="list-group-item">
            <h4>Address Information</h4>
            <br>
            <p>
                Full Address : {{user_fulladdress}}
            </p>
            <p>
                Municipality : {{user_municipality}}
            </p>
            <p>
                Barangay : {{user_barangay}}
            </p>            
        </div>
        <div class="list-group-item">
            <h4>Emergency Contact Information</h4>
            <br>
            <p>
                Person to Contact In Case of Emergency : {{user_emperson}}
            </p>
            <p>
                Emergency Contact Number : {{user_emcontact}}
            </p>
        </div>
        
        
    </div>
    <hr>
    <div>
        <a href="edit" class="btn btn-primary">Edit your Account Information</a>
    </div>
</div>

{% endblock content %}

