<!DOCTYPE html>

{%load static%}
{% load admin_extras %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Fruit Cast
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'images/logo/3.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="{% static 'js/main.js' %}" defer> </script>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>

    {% if user.is_authenticated%}
        {% include "admin_panel/navbar.html" %}
    {% else %}
        {% include "registration/navbar.html" %}
    {% endif %}

    <main class="pt-5">
        {% block content %}{% endblock %}
        <script src="{% static 'js/bootstrap-js/bootstrap.bundle.min.js' %}"></script>
    </main>
    {% include "footer.html" %}

</body>
</html>