{% extends "admin_login/layout.html" %} 

{% block title %} Fruit Cast | Login 
{% endblock title %} 


{% block navbar %}
    {% include "loggedin/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="login-container">
  <div class="login-left-container">
    <div class="container py-5">
      <h1><b>Fruit Cast : Admin Panel</b></h1>
          <h4>
            Log in with the provided credentials
          </h4>
    </div>
    
  </div>
  <div class="login-right-container">
    <div class="container py-5">
      <div class="card shadow p-4">
        <h1 class="text-center mb-4">Administrator Log In</h1>
    
        <form action="{% url 'administrator:admin_login' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label" for="email_or_contact">Email Address:</label>
            <input class="form-control" type="text" name="email_or_contact" placeholder="Email">
          </div>
    
          <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>
    
          <input type="hidden" name="test_debug" value="submitted">
    
          {% if messages %}
            {% for message in messages %}
              <div class="alert 
                {% if message.tags %} alert-{{ message.tags }} {% endif %} text-danger small mt-2">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
    
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Log In</button>
            
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}



<form method="POST">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>