* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f6facd;
    color: #27371a;
    font-size: 3rem;
    display: flex;
    flex-flow: column;
}

/* testing */
div { 
    border-color: rgb(48, 6, 6);
    /* height: 50%;
    width: 70%; */
}

nav {
    padding: 1rem;
    background-color: #416e3f;
    color: white;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #f6facd;
}

a:hover {
    opacity: .85;
}