{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
<div class="home-container">
    <div class="home-left-container">
        <h1><b>Fruit Cast</b></h1>
        <p>
           Bataan, which boasts a thriving agricultural sector, is home to a wide range of seasonal fruits that contribute to the 
           local economy. The rich environment presents the farmers with the opportunity to plant fruits (i.e., watermelon, pineapple, 
           avocado, pomelo) depending on the season. Watermelon, for example, thrive during the summer, while fruits like rambutan 
           thrive during the rainy season—this cycle ensures a year-round production for the fruit farming sector that not only 
           supports the farmers livelihoods but also boosts their town’s economic growth.
        </p>
        <p>
            
        </p>
    </div>
    <div class="home-right-container">
        <img src="/static/images/home-sample-fruits.png" alt="">
    </div>
</div>
      
    
{% endblock content %}
    
