{% extends "registration/layout.html" %} 

{% block title %} Fruit Cast | Login 
{% endblock title %} 


{% block navbar %}
    {% include "registration/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="login-container">
  <div class="login-left-container">
    <h1><b>Fruit Cast</b></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
    <p>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
  </div>
  <div class="login-right-container center-div-text">
    <h1>Log In</h1>
    <br />
    <div>
        <form action="\login\" method="POST">
            {% csrf_token %}
          <div>
            <label for="email_or_contact">Email or Phone Number : </label> <br>
            <input type="text" name="email_or_contact" placeholder="Email or Phone Number">
          </div>
          <div>
            <label for="password">Password : </label><br>
            <input type="password" name="password">
          </div>
          <input type="hidden" name="test_debug" value="submitted">
    </div>
    {% comment %} 
    email : ark@gmail.com
    pass : arkarkark
    {% endcomment %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert 
          {% if message.tags %} alert-{{ message.tags }} {% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <div>
        <button type="submit">Log In</button>
        </form>

    </div>
    <p>or</p>
    <a href="{% url 'base:register_step1' %}">Register a new Account</a>
    <br>
    <p>icucustomize ko pa toh [change to Forgot Password]</p>
  </div>
</div>

{% endblock content %}
