{% extends "registration/layout.html" %} 
{% block title %} Fruit Cast | Register {% endblock title %} 


{% block navbar %}
    {% include "registration/navbar.html" %}
{% endblock navbar %}

{%block content %} 
<div class="login-container">
  <div class="login-left-container">
    <h1><b>Fruit Cast</b></h1>
    <p>
      Bataan, which boasts a thriving agricultural sector, is home to a wide range of seasonal fruits that contribute to the 
      local economy. The rich environment presents the farmers with the opportunity to plant fruits (i.e., watermelon, pineapple, 
      avocado, pomelo) depending on the season. Watermelon, for example, thrive during the summer, while fruits like rambutan thrive 
      during the rainy season—this cycle ensures a year-round production for the fruit farming sector that not only supports the 
      farmers livelihoods but also boosts their town’s economic growth.
    </p>
  </div>
  <div class="login-right-container">
    <div class="container py-5">
      <div class="card shadow p-4">
        <h1 class="text-center mb-4">Email Verification</h1>
    
       <p class="text-center">Enter the verification code sent to your email.</p>
        <form method="POST" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label" for="id_code">Verification Code *</label>
            <input type="text" class="form-control" id="id_code" name="code" required>
            {% if code_error %}
              <div class="text-danger small">{{ code_error }}</div>
            {% endif %}
          </div>
          <div class="text-center mt-4">
            <hr />
            <button type="submit" class="btn btn-success">Verify</button>
            <div class="mt-3">
              <p>or</p>
              <a href="/register/email" class="btn btn-secondary">Back</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
