{% extends "registration/layout.html" %} 
{% block title %} Fruit Cast | Register {% endblock title %} 

{%block content %}
<div class="container1">
  <h1>REGISTER</h1>
    <br>
    <form action="" method="POST">
    {% csrf_token %} 
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}

      {% if field.errors %}
        <p class="form-error">{{ field.errors|striptags }}</p>
      {% endif %}
    </div>
    <br>
  {% endfor %}
    
    <button type="Submit">Submit</button>
  </form>

</div>
{% endblock content %}
