{% extends "registration/layout.html" %} 
{% block title %} Fruit Cast | Register {% endblock title %} 


{% block navbar %}
    {% include "registration/navbar.html" %}
{% endblock navbar %}

{%block content %}
<div class="container1 center-div-text">
  <h1>REGISTER</h1>
    <br>
    <form action="" method="POST">
    {% csrf_token %} 
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}

      {% if field.errors %}
        <p class="form-error">{{ field.errors|striptags }}</p>
      {% endif %}
    </div>
    <br>
  {% endfor %}
    
    <button type="Submit">Submit</button>
  </form>
  <br>
  <p>or</p>
  <a href="/accounts/login">Log In</a>


</div>
{% endblock content %}
